<p class="flex gap-2">
  <span class="font-bold">author</span>
  <span>{{ data().author }}</span>
</p>
<p class="flex gap-2">
  <span class="font-bold">format</span>
  <span>{{ data().format }}</span>
</p>
<p class="flex gap-2">
  <span class="font-bold">genre</span>
  <span>{{ data().genre }}</span>
</p>
<p class="flex gap-2">
  <span class="font-bold">publisher</span>
  <span>{{ data().publisher }}</span>
</p>
<p class="flex gap-2">
  <span class="font-bold">series</span>
  <span>{{ data().series }}</span>
</p>
