<router-outlet></router-outlet>
<div class="toast toast-top toast-end z-10">
  @for (item of list$$(); track $index) {
    <div class="alert alert-{{ item.type }} w-100 break-all gap-1">
      <span>{{ item.message }}</span>
      <button
        class="btn btn-circle btn-ghost btn-xs tooltip"
        [cdkCopyToClipboard]="item.message"
        data-tip="copy"
      >
        <mat-icon class="micon-4">content_copy</mat-icon>
      </button>
    </div>
  }
  @for (item of dialogList$$(); track $index) {
    <dialog class="modal" app-dialog>
      <div class="modal-box">
        <h3 class="text-lg font-bold">{{item.title}}</h3>
        <p class="py-4">{{ item.message }}</p>
        <form method="dialog" class="flex justify-end gap-2">
          <button class="btn btn-error" (click)="item.close(false)">close</button>
          <button class="btn btn-primary" (click)="item.close(true)">apply</button>
        </form>
      </div>

      <form method="dialog" class="modal-backdrop">
        <button (click)="item.close(false)">close</button>
      </form>
    </dialog>
  }
</div>
