<router-outlet></router-outlet>
<div class="toast toast-top toast-end z-10">
  @for (item of list$$(); track $index) {
    <div class="alert alert-{{ item.type }} w-100 break-all gap-1">
      <span>{{ item.message }}</span>
      <button
        class="btn btn-circle btn-ghost btn-xs tooltip"
        [cdkCopyToClipboard]="item.message"
        data-tip="copy"
      >
        <mat-icon class="micon-4">content_copy</mat-icon>
      </button>
    </div>
  }
</div>
@for (item of dialogList$$(); track $index) {
  <dialog class="modal" open>
    <div class="modal-box">
      <h3 class="text-lg font-bold">{{ item.title }}</h3>
      <p class="py-4 break-all">{{ item.message }}</p>
      <form method="dialog" class="flex justify-end gap-2">
        @for (button of item.buttons; track $index) {
          <button
            [class]="'btn' | mergeClass: button.class"
            (click)="item.close($index)"
            type="button"
          >
            <ng-template
              [selectlessOutlet]="StrOrTemplateComponent"
              [selectlessOutletInputs]="buttonContent | pure: button.label"
            ></ng-template>
          </button>
        }
      </form>
    </div>
    @if (!item.modal) {
      <form method="dialog" class="modal-backdrop">
        <button (click)="item.close(undefined)">close</button>
      </form>
    }
  </dialog>
}
