<div class="card bg-base-100 h-full">
  <div class="card-body overflow-hidden relative">
    <h2 class="card-title">{{ data.title }}</h2>

    <piying-view
      [schema]="data.schema"
      [options]="data.options"
      [model]="data.value"
      (modelChange)="modelChange($event)"
      class="flex-1 overflow-auto"
      #ref
    ></piying-view>
    <div class="card-actions justify-end">
      <button class="btn btn-error" (click)="close()">Cancel</button>

      <input
        type="submit"
        class="btn btn-primary"
        (click)="apply()"
        [disabled]="ref.form$$()?.invalid ?? true"
      />
    </div>
    @if (loading$()) {
      <div
        class="absolute top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-base-200/70"
      >
        <span class="loading text-primary"></span>
      </div>
    }
  </div>
</div>
