/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui";
@source '../node_modules/@piying-lib/angular-daisyui/fesm2022';
@source '../node_modules/@piying-lib/angular-daisyui/preset-css/ts';
.input.pi-valid {
  @apply border-success;
}
.input.pi-invalid {
  @apply border-error;
}
.input.pi-untouched.pi-invalid:not(.pi-dirty) {
  @apply border-warning;
}
.micon-4 {
  @apply w-4!;
  @apply h-4!;
  @apply text-[16px]!;
}

.cdk-global-overlay-wrapper {
  justify-content: center;
  align-items: center;
}
.cdk-overlay-pane {
  flex-direction: column;
}
cdk-dialog-container.cdk-dialog-container {
  overflow: hidden;
  flex: 1;
  display: flex;
}
input,
select,
textarea {
  outline: none !important;
}
